@charset "utf-8";
/* CSS Document */

/*-------样式重置-------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td { margin:0; padding:0;font-size: 14px;}
strong, b,h1,h2,h3,h4,h5,h6{font-weight: normal!important;}
table { border-collapse:collapse;font-size:12px;}
fieldset,img,a img{border:0}
a{ text-decoration: none;}
img{vertical-align:middle}
ol,ul { list-style:none}
/*h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal}*/
:focus{outline:0}
.clearfix{*zoom:1}
.clearfix:after{ content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both}
/* 清理浮动 */
.fn-clear{ clear:both;}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
/*.oCheckbox,.oRadio{
    background-image: url(images/edm/checkmarks-sprite.png);
    background-position: center 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    padding: 0;
    vertical-align: middle;
    width: 24px;
}
.oCheckbox:hover{
    background-position: center -24px;
}
.oCheckbox.sel{
    background-position: center -72px;
}

.oRadio {
    background-position: center -120px;
}
.oRadio:hover{
    background-position: center -144px;
}
.oRadio.sel{
    background-position: center -192px;
}*/

.label {
    /*font-family:Verdana,Geneva,sans-serif;*/
    padding:1px 6px 2px;
    display:inline-block;
    *display:inline;      /* 只有ie6和ie7识别*/
    zoom:1;
    vertical-align:middle;
    letter-spacing:normal;
    white-space:nowrap;
    border-radius:3px;
    background:#06C;
    color:#fff;
    font-size:10px;
    line-height:12px;
}

.relative {
    position:relative;
}
.absolute{
    position:absolute;
}
.hinherit{
    height:inherit;
}
.align-center{
    text-align: center;
}
.tx-l{
    text-align:left !important;
}
.tx-r{
    text-align:right !important;
}
.tx-c{
    text-align:center !important;
}

.vt-m{
    vertical-align: middle;
}
.vt-t{
    vertical-align: top;
}
.vt-b{
    vertical-align: bottom;
}
.float-l{
    float:left;
}
.float-r{
    float:right;
}
.float-n{
    float:none !important;
}
.block {display: block !important;}
.none{display:none !important;}
.inline-block{display:inline-block !important;}
.inline-block{
    display:inline; /* 兼容ie7*/
    zoom:1;
}

.overflow-hidden {overflow: hidden;}
.full-width {width: 100%;max-width: 100% !important;}
.font-b{font-weight: bold;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}

.col32b6fb{color: #005499;}
.cole9e9e9{color: #e9e9e9;}
.colf7f7f7{color: #f6f6f6;}
.col191919{color: #191919;}
.col434343{color: #434343;}
.col008dcf{color: #008dcf;}

.bgcole9e9e9{background-color: #e9e9e9;}
.bgcol32b6fb{background-color: #005499;}
.bgcolf7f7f7{background-color:#f6f6f6}
.bgcold6f0fe{background-color: #d6f0fe}


/*距离margin控制*/
.marginT0{margin-top: 0px !important;}
.marginB0{margin-bottom: 0px !important;}
.marginL0{margin-left: 0px !important;}
.marginR0{margin-right: 0px !important;}
.marginT5{margin-top: 5px !important;}
.marginB5{margin-bottom: 5px !important;}
.marginL5{margin-left: 5px !important;}
.marginR5{margin-right: 5px !important;}
.marginT10{margin-top: 10px !important;}
.marginB10{margin-bottom: 10px !important;}
.marginL10{margin-left: 10px !important;}
.marginR10{margin-right: 10px !important;}
.marginT20{margin-top: 20px !important;}
.marginB20{margin-bottom: 20px !important;}
.marginL20{margin-left: 20px !important;}
.marginR20{margin-right: 20px !important;}
.marginT30{margin-top: 30px !important;}
.marginB30{margin-bottom: 30px !important;}
.marginL30{margin-left: 30px !important;}
.marginR30{margin-right: 30px !important;}
.marginT40{margin-top: 40px !important;}
.marginB40{margin-bottom:40px !important;}
.marginL40{margin-left: 40px !important;}
.marginR40{margin-right: 40px !important;}
.marginT50{margin-top: 50px !important;}
.marginB50{margin-bottom: 50px !important;}
.marginL50{margin-left: 50px !important;}
.marginR50{margin-right: 50px !important;}

/*控制PADDING*/
.paddingT0{padding-top: 0px !important;}
.paddingB0{padding-bottom: 0px !important;}
.paddingL0{padding-left: 0px !important;}
.paddingR0{padding-right: 0px !important;}
.paddingT5{padding-top: 5px !important;}
.paddingB5{padding-bottom: 5px !important;}
.paddingL5{padding-left: 5px !important;}
.paddingR5{padding-right: 5px !important;}
.paddingT10{padding-top: 10px !important;}
.paddingB10{padding-bottom: 10px !important;}
.paddingL10{padding-left: 10px !important;}
.paddingR10{padding-right: 10px !important;}
.paddingT20{padding-top: 20px !important;}
.paddingB20{padding-bottom: 20px !important;}
.paddingL20{padding-left: 20px !important;}
.paddingR20{padding-right: 20px !important;}
.paddingT30{padding-top: 30px !important;}
.paddingB30{padding-bottom: 30px !important;}
.paddingL30{padding-left: 30px !important;}
.paddingR30{padding-right: 30px !important;}
.paddingT40{padding-top: 40px !important;}
.paddingB40{padding-bottom: 40px !important;}
.paddingL40{padding-left: 40px !important;}
.paddingR40{padding-right: 40px !important;}
.paddingT50{padding-top: 50px !important;}
.paddingB50{padding-bottom: 50px !important;}
.paddingL50{padding-left: 50px !important;}
.paddingR50{padding-right: 50px !important;}

.ym-g16 {width: 16.66%;}
.ym-g20 {width: 20%;}
.ym-g30 {width: 30%;}
.ym-g40 {width: 40%;}
.ym-g48 {width: 48%;}
.ym-g60 {width: 60%;}
.ym-g70 {width: 70%;}
.ym-g80 {width: 80%;}
.ym-g25 {width: 25%;}
.ym-g33 {width: 33.333%;}
.ym-g50 {width: 50%;}
.ym-g66 {width: 66.666%;}
.ym-g75 {width: 75%;}
.ym-g38 {width: 38.2%;}
.ym-g62 {width: 61.8%;}
.ym-g100 {width: 100%;}


/*  进度条 start   */
.progress-bar {
    background-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 1px 1px #b2b2b2 inset, 0 1px 0 #d5d5d5;
    height: 6px;
    margin: 20px 0;
    position: relative;
    width: 100%;
}
.glow-blue span {
    background-color: #56bbd9;
    box-shadow: 1px 1px 0 #359bb9 inset, 1px -1px 0 #359bb9 inset;
}
.progress-bar span {
    border-radius: 3px;
    display: block;
    height: 6px;
    width: 200px;
}
.progress-bar p {
    background: url(images/edm/progress-cyc.png) no-repeat scroll 0 0;
    float: right;
    height: 18px;
    margin-right: -8px;
    margin-top: -6px;
    width: 18px;
}
/*  进度条 end   */

/* 一行多列块 start */
.unitBlockWrap .unitBlock {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}
.unitBlockWrap .unitBlock.first {
    border-bottom-left-radius: 3px;
    border-left: 1px solid #d9d9d9;
    border-top-left-radius: 3px;
}
.unitBlockWrap .unitBlock.last  {
    border-bottom-right-radius: 3px;
    border-right: 1px solid #d9d9d9;
    border-top-right-radius: 3px;
}

/* 一行多列块 end */

.red{
    color: #ff0000;
}
input[type=checkbox]{
    margin-left: 6px;
}
/*.slick-cell.r0 input[type=checkbox]{
    margin-left: 6px;
}*/
.slick-row .slick-cell{
    padding-left: 6px;
}
.slick-column-name input[type=checkbox]{
    margin-left: 6px;
}
.grid-operate-action{
    background-image:url("images/main.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 8px;
    width: 20px;
    height: 20px;
}
.grid-edit-operate{
    background-position: -4px -77px;
}
.grid-complete-operate{
    background-position: -1px -40px;
}
.grid-detail-operate{
    background-position:-1px -5px;
}
.grid-edit-operate:hover{
    background-position: -36px -77px;
}
.grid-complete-operate:hover{
    background-position: -33px -40px;
}
.grid-detail-operate:hover{
    background-position: -33px -5px;
}