<div class="crm-left-nav">
    <a class="top-menu crm-bg-black-normal crm_working bg-focus" href="index"> <span class="menu-icon"><i class="icon-working"></i></span><span class="menu-text">工作圈</span></a>
</div>
<div class="crm-left-nav crm-oa">
    <div class="top-menu cur crm-bg-black-normal"><span class="menu-icon"><i class="head-icon arrow-down"></i></span><span class="menu-text">协同办公</span></div>
    <div class="crm-bg-black-hover">
    <a class="a-menu crm_email" href="#chat"><span class="menu-icon"><i class="icon-email"></i></span><span class="menu-text">测试1</span></a>
    <a class="a-menu crm_email" href="#test"><span class="menu-icon"><i class="icon-email"></i></span><span class="menu-text">测试2</span></a>
        <a id="crm_nav_email" class="a-menu crm_email" href="email"><span class="menu-icon"><i class="icon-email"></i></span><span class="menu-text">邮件</span></a>
        <a id="crm_nav_scheduled" class="a-menu crm_task" href="task"><span class="menu-icon"><i class="icon-task"></i></span><span class="menu-text">任务</span></a>
        <a id="crm_nav_examine" class="a-menu crm_approve" href="approve"><span class="menu-icon"><i class="icon-approve"></i></span><span class="menu-text">审批</span></a>
        <a id="crm_nav_workreport" class="a-menu crm_workreport" href="workreport"><span class="menu-icon"><i class="icon-workreport"></i></span><span class="menu-text">工作报告</span></a>
        <a id="crm_nav_knowledge" class="a-menu crm_knowledge" href="knowledge"><span class="menu-icon"><i class="icon-knowledge"></i></span><span class="menu-text">知识库</span></a>
    </div>
</div>
<div class="crm-left-nav crm-marketing">
    <div class="top-menu cur crm-bg-black-normal"><span class="menu-icon"><i class="head-icon arrow-down"></i></span><span class="menu-text">销售管理</span></div>
    <div class="crm-bg-black-hover">
        <a id="crm_nav_dashboard" class="a-menu crm_dashboard" href="dashboard"><span class="menu-icon"><i class="icon-dashboard"></i></span><span class="menu-text">仪表盘</span></a>
        <a id="crm_nav_dynamicStatistic" class="a-menu crm_dynamicStatistic" href="dynamicStatistic"><span class="menu-icon"><i class="icon-dynamicStatistic"></i></span><span class="menu-text">统计分析</span></a>
        <a id="crm_nav_leads" class="a-menu crm_salesLead" href="salesLead"><span class="menu-icon"><i class="icon-leads"></i></span><span class="menu-text">销售线索</span></a>
        <a id="crm_nav_customer_pool" class="a-menu crm_client" href="client"><span class="menu-icon"><i class="icon-client"></i></span><span class="menu-text">客户</span></a>
        <a id="crm_nav_contacter" class="a-menu crm_contacts" href="contacts"><span class="menu-icon"><i class="icon-contacts"></i></span><span class="menu-text">联系人</span></a>
        <a id="crm_nav_opportunity" class="a-menu crm_oppotunity" href="oppotunity"><span class="menu-icon"><i class="icon-oppo"></i></span><span class="menu-text">商机</span></a>
        <a id="crm_nav_contract" class="a-menu crm_contract" href="contract"><span class="menu-icon"><i class="icon-contract"></i></span><span class="menu-text">合同</span></a>
        <a id="crm_nav_salesForecast" class="a-menu crm_salesForecast" href="salesForecast"><span class="menu-icon"><i class="icon-salesForecast"></i></span><span class="menu-text">销售预测</span></a>
        <a id="crm_nav_goal" class="a-menu crm_goal" href="goal"><span class="menu-icon"><i class="icon-gola"></i></span><span class="menu-text">销售目标</span></a>
        <a id="crm_nav_product" class="a-menu crm_product" href="product"><span class="menu-icon"><i class="icon-product"></i></span><span class="menu-text">产品</span></a>
        <a id="crm_nav_competitor" class="a-menu crm_competitor" href="competitor"><span class="menu-icon"><i class="icon-competitor"></i></span><span class="menu-text">竞争对手</span></a>
    </div>
</div>
<div class="crm-left-nav crm-edm">
    <div class="top-menu cur crm-bg-black-normal"><span class="menu-icon"><i class="head-icon arrow-down"></i></span><span class="menu-text">邮件营销</span></div>
    <div class="crm-bg-black-hover">
        <a class="a-menu crm_edmDashboard" href="edmDashboard"><span class="menu-icon"><i class="icon-edmDashboard"></i></span><span class="menu-text">仪表盘</span></a>
        <a class="a-menu crm_edmContactGroup" href="edmContactGroup"><span class="menu-icon"><i class="icon-edmContactGroup"></i></span><span class="menu-text">联系人组</span></a>
        <a class="a-menu crm_edmTemplate" href="edmTemplate"><span class="menu-icon"><i class="icon-edmTemplate"></i></span><span class="menu-text">模板库</span></a>
        <a class="a-menu crm_edmPhoto" href="edmPhoto"><span class="menu-icon"><i class="icon-edmPhoto"></i></span><span class="menu-text">图片库</span></a>
        <a class="a-menu crm_edmPromotion" href="edmPromotion"><span class="menu-icon"><i class="icon-edmPromotion"></i></span><span class="menu-text">营销推广</span></a>
        <a class="a-menu crm_edmWhiteList" href="edmWhiteList"><span class="menu-icon"><i class="icon-edmWhiteList"></i></span><span class="menu-text">白名单设置</span></a>
    </div>
</div>
<div class="crm-left-nav crm-setting">
    <div class="top-menu cur crm-bg-black-normal"><span class="menu-icon"><i class="head-icon arrow-down"></i></span><span class="menu-text">后台管理</span></div>
    <div class="crm-bg-black-hover">
        <a id="crm_nav_role" class="a-menu crm_role" href="role"><span class="menu-icon"><i class="icon-role"></i></span><span class="menu-text">权限设置</span></a>
        <a id="crm_nav_dept" class="a-menu crm_dept" href="dept"><span class="menu-icon"><i class="icon-dept"></i></span><span class="menu-text">组织架构</span></a>
        <a id="crm_nav_basesetting" class="a-menu crm_basesetting" href="basesetting"><span class="menu-icon"><i class="icon-basesetting"></i></span><span class="menu-text">参数属性</span></a>
        <a id="crm_nav_emailsetting " class="a-menu crm_emailsetting" href="emailsetting"><span class="menu-icon"><i class="icon-emailsetting"></i></span><span class="menu-text">邮箱设置</span></a>
    </div>
</div>
<div class="crm-left-nav crm-edm-link">
    <a class="top-menu crm-bg-black-normal crm_edm-link" href="http://devedm.winbons.com" target="_blank"> <span class="menu-icon"><i class="icon-edmLink"></i></span><span class="menu-text">邮件营销</span></a>
</div>
<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
</div>
<div class="ps-scrollbar-y-rail" style="top: 0px; height: 554px; right: 0px;">
    <div class="ps-scrollbar-y" style="top: 0px; height: 381px;"></div>
</div>
