@import url(../../style/default/crm_im.css?v=2);
.relayBtn {
	position: absolute;
	width: 50px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	bottom: 0;
	cursor: pointer;
	display: none;
}
.chat_content_left .chat_detail_content .relayBtn {
	background-color: #7dc771;
	right: -50px;
	border-radius: 0 3px 3px 0;
}
.chat_content_right .chat_detail_content .relayBtn {
	background-color: #008dcf;
	left: -50px;
	border-radius: 3px 0 0 3px;
}
/*.chat_content_left .chat_detail_content:hover,
.chat_content_right .chat_detail_content:hover {
    display: block;
}*/
.chat_content_left .chat_detail_content:hover .relayBtn,
.chat_content_right .chat_detail_content:hover .relayBtn {
    display: block;
}